# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
4:36
https://koora.alkoora.live/2023/04/goal-on-time-sports-1.html?m=1&ofbclid=IwAR0G139Ey7RKkFWyLVg7_lAXf1QaySjy94pYv7KMcih6qOwE1GxKFc_zl5c
